<div style="width: 100%;height: 100%;overflow: hidden;position: relative;">
<div class="box" >
	<div class="f1" style="position: absolute;top: 0;bottom: 0;right: -25px;overflow-y: scroll;">
		<div class="b1">
			<div class="m1">
				<div class="c1">1</div>
				<input class="input-url" type="text" readonly="readonly" value="http://www.jiuxinyule8.com">
			</div>
			<div class="m2">
				<div class="btn-bg">
					<p class="ms" id="em_1"></p>
			 		<div class="prev-bg"><button class="btn-content" url="http://www.jiuxinyule8.com" url-index="3">立即登录</button></div>
				</div>


			</div>

		</div>
		<div class="b1">
			<div class="m1">
				<div class="c1">2</div>
				<input class="input-url" type="text" readonly="readonly" value="http://www.jiuxinyule8.com">
			</div>
			<div class="m2">
				<div class="btn-bg">
					<p class="ms" id="em_2"></p>
			 		<div class="prev-bg"><button class="btn-content" url="http://www.jiuxinyule8.com" url-index="3">立即登录</button></div>
				</div>
				

			</div>

		</div>
		<div class="b1">
			<div class="m1">
				<div class="c1">3</div>
				<input class="input-url" type="text" readonly="readonly" value="http://www.jiuxinyule8.com">
			</div>
			<div class="m2">
				<div class="btn-bg">
					<p class="ms" id="em_3"></p>
			 		<div class="prev-bg"><button class="btn-content" url="http://www.jiuxinyule8.com" url-index="3">立即登录</button></div>
				</div>
				

			</div>

		</div>
		<div class="b1">
			<div class="m1">
				<div class="c1">4</div>
				<input class="input-url" type="text" readonly="readonly" value="http://www.jiuxinyule8.com">
			</div>
			<div class="m2">
				<div class="btn-bg">
					<p class="ms" id="em_4"></p>
					<div class="prev-bg"><button class="btn-content" url="http://www.jiuxinyule8.com" url-index="3">立即登录</button></div>
				</div>
				

			</div>

		</div>
		<div class="b1">
			<div class="m1">
				<div class="c1">5</div>
				<input class="input-url" type="text" readonly="readonly" value="http://www.jiuxinyule8.com">
			</div>
			<div class="m2">
				<div class="btn-bg">
					<p class="ms" id="em_5"></p>
 					<div class="prev-bg"><button class="btn-content" url="http://www.jiuxinyule8.com" url-index="3">立即登录</button></div>
				</div>
			</div>
		</div>
	</div>
	<div class="f2">
			<a class="btn" id="clear_cache">
				检测
			</a>
            <h3>
                如果检测后还不能登陆请按以下操作方式
            </h3>
            <p>
                操作步骤：打开IE浏览器：选择：工具-》
                Internet选项-》在选择(删除历史浏览记录)-》
                删除-》重启IE
            </p>
            <!--<a class="btn" id="clear_cache">-->
                <!--点击下载清除缓存脚本-->
            <!--</a>-->
            <p>如果您无法访问</p>
            <h3>请选择一个新的线路使用看看！</h3>
            <p>如果您在访问我们的域名被跳转到其它网站</p>
            <h3>那是您当地电信运营商dns被劫持，您可以通过修改电脑本地dns来解决。</h3>
            <!--<a class="btn" id="anti_hijack">点击下载反劫持操作教程及软件</a>-->
        </div>
</div>
</div>
<style type="text/css">
	.box{padding:20px;font-family: '微软雅黑';overflow:hidden;}
	.box .f1{float: left;width: 882px;height: 600px;
    top: 0px;position: absolute;overflow-y: scroll;overflow-x: hidden;}
	.box .f2{float: right;}
	.box .b1,.box .m1{overflow:hidden;}
	.box .m1,.box .m2{float: left;margin:30px 0;}
	.box .m1{
		margin: 30px 20px 30px 30px;
    width: 340px;
	}
	.box .m1 .c1{float: left;background: url('/Public/Home/images/xian1.png') no-repeat;color: rgb(194,132,27);font-size: 14px;text-align: center;line-height: 30px;height: 40px; width: 40px;background-position: center;}
	.box .m1 input {
		float: left;
		height: 30px;
		width: 260px;
		background: #fff;
		outline: none;
		border-radius: 18px;
		border: none;
		padding-left: 16px;
		margin-left: 28px;
	}
	.box .m2{text-align: center;}
	.btn-bg {
    display: inline-block;
    height: 46px;
    width: 106px;
    position: relative;
    background: url('/Public/Home/images/login.png')no-repeat;
}
.prev-bg {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -14px;
    left: 5px;
    z-index: 2;
    text-align: center;
}
.btn-content {
	background: #FE8D3F;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	color: #ffffff;
    height: 38px;
    width: 74px;
    position: absolute;
    top: 10px;
    left: 9px;
    z-index: 3;
    cursor: pointer;
    outline: none;
    border: 0 none;
}
.login-progress {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}
canvas{
    display: inline-block;
    text-align: center;
}
.f2{
	    position: absolute;
    color: #fff;
    right: 20px;
    top: 58px;
    width: 278px;
    line-height: 22px;
}
.f2 h3,.f2 p {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
    position: relative;
}
.f2 h3:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #F9AD59;
    margin-right: 5px;
}
.f2 .btn {
    background: #FE8D3F;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
.btn-bg .btn {
	background: #FE8D3F;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
}
.btn-bg .ms {
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	color: #FE8D3F;
	cursor: pointer;
	position: absolute;
	top: -16px;
	left: -90px;
	height: 18px;
	width: 8px;
}
</style>
<script src="__JS__/jquery.min.js"></script>
<script>
	var tim=1;
	setInterval("tim++",100);
	var autourl=new Array();
	for(i=0;i<=4;i++){
		autourl[i]=$('.input-url').eq(i).val();
	}
	function auto(url){
		var str=tim*10;
		if(url==autourl[0]){
			$('#em_1').text(str+'ms');
		}
		if(url==autourl[1]){
			$('#em_2').text(str+'ms');
		}
		if(url==autourl[2]){
			$('#em_3').text(str+'ms');
		}
		if(url==autourl[3]){
			$('#em_4').text(str+'ms');
		}
		if(url==autourl[4]){
			$('#em_5').text(str+'ms');
		}
	}
	function run(){
		for(var i=0;i<autourl.length;i++){
			document.write("<img src="+autourl[i]+"/"+Math.random()+" width=1 height=1 onerror=auto('"+autourl[i]+"') style='display:none'>");
		}
	}
	run();

	$('.btn-content').click(function(){
		top.location.href = $(this).attr('url');
	});

	$('#clear_cache').click(function(){
		location.reload();
	});
</script>