<div style="width: 100%;height: 100%;">
<div class="box" >
    <div>
    	<img src="/Public/Home/images/title.png" style="display: block;margin:10px auto;">
    </div>

	<div class="f1">
		
		<div class="x2">
			<div class="font-show">
				<h2>快速登录器的优势</h2>
				<ul>
					<li>
						<span class="my-list-icon">1</span>
						<span class="font">根据您当前最快的网络环境推荐3条最快的登录地址</span>
					</li>
					<li>
						<span class="my-list-icon">2</span>
						<span class="font">随时随地,想开旧开，想玩就玩</span>
					</li>
					<li>
						<span class="my-list-icon">3</span>
						<span class="font">下载一次，永久自动更新</span>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="f2">
		<button>点击下载</button>
		<p>支持win7/win8/win10</p>
		<p>版本:1.0 文件大小：27M</p>
	</div>
</div>
</div>
<style type="text/css">
	.box{padding:20px;font-family: '微软雅黑';}
	.f1{    width: 50%;
    margin: 55px auto;}
	.f1 .x1{float: left;margin: 70px 20px;}
	.f1 .x2{}
	.f1 .x1 img{display: block;}
	.f1 .m1{overflow:hidden;}
	.f1 .m1 .logo{float: left;}
	.f1 .m1 .c2{float: right;}
	.f1 .m1 .p1{font-size: 28px;color: #fff;margin:0px 0 0;}
	.f1 .m1 .p2{font-size: 20px;color: #fff;margin:10px 0 0;}
	#pc_panel .cnt .font-show {color: #fff;padding-top: 18px; text-align: left;line-height: 22px;font-size: 14px;width: 369px;margin-left: 74px;}
	.font-show h2 {font-size: 18px;font-weight: normal; margin-bottom: 20px;color: #fff;text-align: center;}
	.font-show ul{list-style: none;margin: 0;padding: 0;}
	.font-show ul li {position: relative;padding: 4px 0;}
	.my-list-icon {width: 20px;height: 20px;display: inline-block; border-radius: 50%;line-height: 20px;text-align: center;font-size: 10px;position: absolute;top: 8px;color: #fff;}
	.font-show ul li .my-list-icon {margin-right: 10px;background: #3899E8;color: #fff;}
	.font-show .font {padding-left: 35px;display: inline-block;color: #fff;font-size: 13px;}
	.f2{width: 100%;}
	.f2 button{width: 150px;margin:0 auto;height: 50px;border: none;border-radius: 25px;border:2px solid #31ADF3;padding:10px 0;font-size: 15px;background:rgba(0,0,0,0);color: #fff;display: block;font-family: '微软雅黑';cursor: pointer;position: relative;z-index: 10;}
	/*	.b1{width: 150px;margin:0 auto;height: 50px;background:rgba(49,173,243,0);position:absolute; left:-150px;border-radius: 25px;top:0; z-index: 9;}*/
	.f2 p{text-align: center;font-size: 12px;color: #fff;}
</style>
<!-- <script type="text/javascript">
	$(".f2 button").mouseover(function(){
  $(".b1").animate({left:'0';opacity:'1'},fast);
}); 
</script> -->