<div style="width: 100%;height: 100%;">
<div class="box">
	<div class="f1">
	<img src="/Public/Home/images/title.png" style="display: block;margin:10px auto;">
		<!-- <div class="logo"></div>
		<div class="x2">
			<p class="p1">久信彩游戏手机客户端</p>
			<p class="p2">随时随地 畅游无限</p>
		</div> -->
	</div>
	<div class="f2">
		<div class="s1">
			<div class="exchange-btn">
				<a class="on" for="ios_msg" area="mobile_msg" >iPhone手机扫码安装</a>
				<a  for="android_msg" area="mobile_msg" >Android手机扫码安装</a>
			</div>
			<div id="mobile_msg">
				<div id="ios_msg" style="overflow: hidden;display: block;" state="show">
					<div class="font-show">
						<ul>
							<li>
								<span class="my-list-icon">1</span>
								<span class="font">推荐使用&nbsp;<a name="QR_ios" style="text-decoration: underline;color:#FFBE12">QR Code</a>&nbsp;扫描右侧二维码</span>
							</li>
							<li>
								<span class="my-list-icon">2</span>
								<span class="font">在打开的页面内点击直接安装</span>
							</li>
							<li>
								<span class="my-list-icon">3</span>
								<span class="font">按Home键查看安装过程</span>
							</li>
							<li>
								<span class="my-list-icon">4</span>
								<span class="font">完成安装并信任套件，操作如下:<br><font style="color:#FFBE12">设定 &gt; 通用 &gt; 描述文件 &gt; 信任</font><br></span>
							</li>
							<li>
								<span class="my-list-icon">5</span>
								<span class="font">立即开启应用程序</span>
							</li>
						</ul>
					</div>
				</div>
				<div id="android_msg" style="overflow: hidden;display: none;">
					<h3 style="color:#fff;padding:5px 0 5px 35px;">支持Android4.4</h3>
					<div class="font-show" style="padding-top:0">
						<ul>
							<li>
								<span class="my-list-icon">1</span>
								<span class="font">推荐使用&nbsp;<a name="QR_android" style="text-decoration: underline;color:#FFBE12">QR Code</a>&nbsp;扫描右侧二维码</span>
							</li>
							<li>
								<span class="my-list-icon">2</span>
								<span class="font">在打开的页面内点击直接下载安装</span>
							</li>
							<li>
								<span class="my-list-icon">3</span>
								<span class="font">系统将自动下载应用程序</span>
							</li>
							<li>
								<span class="my-list-icon">4</span>
								<span class="font">下载安装完成后点击安装</span>
							</li>
							<li>
								<span class="my-list-icon">5</span>
								<span class="font">立即开启应用程序</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="s2">
			<img src="/Public/Home/images/erweima.png">
			<p>扫描直接登录网页版</p>
		</div>
		<div class="s2">
			<img src="/Public/Home/images/erweima.png">
			<p>手机客户端</p>
		</div>
	</div>
	<div class="f3">
		<h5>注意：</h5>
		<p>使用微信、QQ等一些内建QR Code扫描会有被阻挡下载之状况,强烈建议使用推荐QR Code扫描器扫描</p>
	</div>
</div>
</div>
<style type="text/css">

	.box{padding:20px;background-color: #313131;font-family: '微软雅黑';}
/*	.f1{background-color: #070707;}*/
	.f1,.f2{overflow:hidden;}
	.f1 .logo{float: left;}
	.f1 .x2{float: left;}
	.f1 .x2 .p1{font-size: 28px;color: #fff;margin:0px 0 0;}
	.f1 .x2 .p2{font-size: 20px;color: #fff;margin:10px 0 0;}
	.f2 .s1{float: left;}
	.f2 .s2{float: right;margin-right: 30px;}
	.f2 .s1 .exchange-btn {display: inline-block;font-size: 12px;border-radius: 18px; color: #fff;margin: 10px 0 0 20px;overflow: hidden;}
	.f2 .s1 .exchange-btn a {display: inline-block;padding: 0 6px;background: #25282D;height: 26px;line-height: 26px;float: left;position: relative;cursor: pointer;}
	.font-show {color: #fff;padding-top: 12px; text-align: left;line-height: 22px;font-size: 12px; width: 240px; float: left;margin-left: 20px;}
	.font-show ul{list-style: none;margin: 0;padding: 0;}
	.font-show ul li {position: relative;padding: 4px 0;}
    .font-show ul li .my-list-icon { margin-right: 10px;background: #3899E8;}
    .my-list-icon {width: 20px;height: 20px;display: inline-block;border-radius: 50%;line-height: 20px;text-align: center;font-size: 10px;position: absolute;top: 8px;}
    .font-show .font {padding-left: 35px;display: inline-block;line-height: 22px;font-size: 12px;}
    .on{color: #333;background: #FFBE12!important;}
    .f2 .s2 img{display: block;width: 200px;height: auto;}
    .f2 .s2 p{text-align: center;color: #fff;}
    .f3{margin:5px 20px;}
    .f3 h5{color: #FFBE12;font-size: 16px;margin:0 0 10px;}
    .f3 p{color: #fff;font-size: 14px;margin:10px 0 0;}
</style>
<!-- <script type="text/javascript">
	$('.exchange-btn a').click(function(){
		alert(1111);
	$(this).siblings().removeClass('on');
	$(this).addClass('on');	
	})
	
</script> -->