<extend name="Base/common"/>

<block name="title"><title>个人报表－{:S('WEB_NAME')}</title></block>
<block name="body">
    <div class="effect mainnav-lg mainnav-fixed navbar-fixed footer-fixed" id="container" style="position: absolute;top: 0;bottom: 0;left: 0;right: -17px;overflow-y: scroll;">
        <div id="page-content">
            <form id="teambetrecord" role="form" action="{:U('team/personal_reportSearch')}" method="post">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-primary">调点记录</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12" id="bgColo">
                            <div class="dataTables_filter">
                                <label class="userName">
                                <button class="btn btn-default btn-sm "  type="button">全部</button>
                                <button class="btn btn-default btn-sm "  type="button">彩票</button>
                                <button class="btn btn-default btn-sm "  type="button">PT</button>
                                <button class="btn btn-default btn-sm "  type="button">NT</button>
                                <button class="btn btn-default btn-sm "  type="button">AG</button>
                                <button class="btn btn-default btn-sm "  type="button">MG</button>
                                <button class="btn btn-default btn-sm "  type="button">BBIN</button>
                                <button class="btn btn-default btn-sm "  type="button">AG棋牌</button>
                                <button class="btn btn-default btn-sm "  type="button">沙巴体育</button>
                                </label>
                            </div>
                            <div class="dataTables_filter">
                                <label class="userName">快捷选时：
                                <button class="btn btn-default btn-sm " id="btn1" type="button">今天</button>
                                <button class="btn btn-default btn-sm " id="btn2" type="button">昨天</button>
                                <button class="btn btn-default btn-sm " id="btn3" type="button">本周</button>
                                <button class="btn btn-default btn-sm " id="btn4" type="button">上周</button>
                                <button class="btn btn-default btn-sm " id="btn5" type="button">本月</button>
                                <button class="btn btn-default btn-sm " id="btn6" type="button">上月</button>
                                </label>
                            </div>
                            <div class="dataTables_filter">
                                <label class="userName">变动时间：<input autocomplete="off" name="fromTime" autocomplete="off" class="form-control form_datetime" id="BeginDate" style="width: 130px;" type="text" placeholder="起始日期" value="{:date('Y-m-d 00:00',$GLOBALS['fromTime'])}" data-date-format="yyyy-mm-dd">
                                <span style="margin-left: 5px;">-</span>
                                <input name="toTime" autocomplete="off" class="form-control form_datetime" id="EndDate" style="width: 130px;" type="text" placeholder="截止日期" value="{:date('Y-m-d 00:00',$GLOBALS['toTime'])}" data-date-format="yyyy-mm-dd"></label>
                                 <label class="userName">用户名：<input style="width: 78px;"  type="text" name="userName"></label>
                                <button class="btn btn-primary btn-labeled fa fa-search" id="j-query" type="button">查询</button>
                            </div>
                        </div>
					<span id="record-span">
						<include file="point-list" />
					</span>
                    </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Ktgxm2FAlNEsoI7VoMQlWk-r1WEVUMma9pxU878QzneW2KIrTfgUbuPj__QCtkNRRZvXW6vyGMINg6RucmHxen7pqyeFXfPOriSNInvCqqC13KtPZ_vKB1TImP03Q98KRUIkr3KghHY6GCGBNtfqlS9d9_JZXmL67XbkOB6FJORYTEoyRwdIbKmaIc06OW0qw">
            </form>
            <div tabindex="-1" class="modal fade" id="details-modal" role="dialog" aria-hidden="true" aria-labelledby="details-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title text-primary"><i class="fa fa-th-list fa-lg"></i>  投 注 详
                                情
                            </h4>
                        </div>
                        <div id="betDetail">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning btn-labeled fa fa-mail-reply" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/dataTables.min.js"></script>
    <script src="__JS__/dataTables.bootstrap.min.js"></script>
    <script src="__JS__/dataTables.responsive.min.js"></script>
    <script src="__JS__/bootbox.min.js"></script>
        <style type="text/css">
        #bgColo{width:100%;padding: 10px 0;background-color: #e5f0f8;margin-bottom: 15px;}
         .userName{
            font-size: 14px;
            margin-left:10px;
            margin-bottom: 10px;
        }
         .userName button,.userName input{
            height: 28px;border: none;border: 1px solid #8e98a1;
            text-align: center;border-radius: 5px!important;cursor: pointer;
        }
        #j-query{
                    background: linear-gradient(90deg, rgb(139, 186, 251), rgb(8, 75, 199));;
    border-radius: 12px;margin-left: 15px;
        }
                .btn-labeled:before {
    background-color: rgba(25, 153, 177, 0)!important;
}
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#j-query").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: '{:U("team/personal_searchReport")}',
                    data: { username: $('#MemberName').val(), fromTime: $('#BeginDate').val(), toTime: $('#EndDate').val()},
                    dataType: "html",
                    global: false,
                    success: function (result) {
                        console.log(result);
                        $('#record-span').html(result);
                        $('.showDetails').bind('click', showBet);
                    }, error: function (err) {
                        var t=err;

                    }
                });
                //$("#teambetrecord").submit();
            });

            $('#PageSize').on('change', function () {
                this.form.submit();
            });
            $('.paging_button').on('click', function () {
                var pageIndex = $(this).attr('title');
                $('#PageIndex').val(pageIndex);
                this.ownerDocument.forms[0].submit();
            });

            $('.showDetails').bind('click', showBet);

            $("#btn1").click(function(){
                var myDate = new Date();
                $('#BeginDate').val(getNowFormatDate(myDate) + " 00:00");
                myDate.setDate(myDate.getDate()+1);
                $('#EndDate').val(getNowFormatDate(myDate) + " 00:00");
            });
            $("#btn2").click(function(){
                var myDate = new Date();
                $('#EndDate').val(getNowFormatDate(myDate) + " 00:00");
                myDate.setDate(myDate.getDate()-1);
                $('#BeginDate').val(getNowFormatDate(myDate) + " 00:00");
            });
            $("#btn3").click(function(){
                var myDate = new Date();
                var d = myDate.getDay();
                var n = 0;
                switch (d){
                    case 0: n = 7;break;
                    case 1: n = 1;break;
                    case 2: n = 2;break;
                    case 3: n = 3;break;
                    case 4: n = 4;break;
                    case 5: n = 5;break;
                    case 6: n = 6;break;
                }
                myDate.setDate(myDate.getDate()+1);
                $('#EndDate').val(getNowFormatDate(myDate) + " 00:00");
                myDate.setDate(myDate.getDate()-n);
                $('#BeginDate').val(getNowFormatDate(myDate) + " 00:00");
            });
            $("#btn4").click(function(){
                var myDate = new Date();
                var d = myDate.getDay();
                var n = 0;
                switch (d){
                    case 0: n = 6;break;
                    case 1: n = 0;break;
                    case 2: n = 1;break;
                    case 3: n = 2;break;
                    case 4: n = 3;break;
                    case 5: n = 4;break;
                    case 6: n = 5;break;
                }
                myDate.setDate(myDate.getDate()-n);
                $('#EndDate').val(getNowFormatDate(myDate) + " 00:00");
                myDate.setDate(myDate.getDate()-7);
                $('#BeginDate').val(getNowFormatDate(myDate) + " 00:00");
            });
            $("#btn5").click(function(){
                var firstDate = new Date();
                firstDate.setDate(1);
                $('#BeginDate').val(getNowFormatDate(firstDate) + " 00:00");
                var endDate = new Date(firstDate);
                endDate.setMonth(firstDate.getMonth()+1,1);
                $('#EndDate').val(getNowFormatDate(endDate) + " 00:00");
            });
            $("#btn6").click(function(){
                var firstDate = new Date();
                firstDate.setMonth(firstDate.getMonth()-1,1);
                $('#BeginDate').val(getNowFormatDate(firstDate) + " 00:00");
                var endDate = new Date(firstDate);
                endDate.setMonth(firstDate.getMonth()+1,1);
                $('#EndDate').val(getNowFormatDate(endDate) + " 00:00");
            });
            function getNowFormatDate(day)
            {
                var Year = 0;
                var Month = 0;
                var Day = 0;
                var CurrentDate = "";
                //初始化时间
                Year       = day.getFullYear();
                Month      = day.getMonth()+1;
                Day        = day.getDate();
                CurrentDate += Year + "-";
                if (Month >= 10 ){
                    CurrentDate += Month + "-";
                }else{
                    CurrentDate += "0" + Month + "-";
                }
                if (Day >= 10 ){
                    CurrentDate += Day ;
                }else {
                    CurrentDate += "0" + Day ;
                }
                return CurrentDate;
            }
            function showBet() {
                var href = $(this).attr('action');
                var v_id = $(this).attr('data-value');
                var me = this;
                $("#betDetail").empty();
                $.ajax({
                    type: "GET",
                    url: href,
                    data: { },
                    dataType: "html",
                    global: false,
                    success: function (data) {
                        $("#betDetail").append(data);
                        $("#cancelproject").click(function () {
                            if (true) {
                                $.ajax({
                                    type: "POST",
                                    url: "{:U('game/deletecode')}",
                                    data: { id: v_id },
                                    dataType: "json",
                                    global: false,
                                    success: function (data) {
                                        try {
                                            if (data.status == 0) {
                                                alert(data.info);
                                            } else {
                                                $(me).closest("tr").addClass("cancel");
                                                $(me).parent().siblings("td:last").html('<label class="graylab">已撤单</label>');
                                                $("#details-modal").hide();
                                                bootbox.alert("撤单成功");
                                                //$("#betrecord").submit();
                                            }
                                        } catch (e) {
                                            bootbox.alert("撤单失败，请梢后重试");
                                        }
                                    },
                                    error: null,
                                    cache: false
                                })
                            }
                        })
                    },
                    error: null,
                    cache: false
                })
            }
        });

    </script>
</block>