<extend name="Base/common"/>

<block name="title"><title>分红记录－{:S('WEB_NAME')}</title></block>
<block name="body">
	<div class="effect mainnav-lg mainnav-fixed navbar-fixed footer-fixed" id="container">
		<div id="page-content">
			<form id="teambetrecord" role="form" action="{:U('team/searchRecord')}" method="post">
				<div class="panel">
					<div class="panel-body">
						<div class="col-sm-12" id="bgColo">
							<div class="dataTables_filter">
								<label class="userName">期数：<select autocomplete="off" name="utype" class="form-control" id="TeamLevel" style="width: 130px; display: inline;" data-val-required="TeamLevel 字段是必需的。" data-val="true">
									<option selected="selected" value="0">全部</option>
									<option value="1">20170202</option>
									<option value="2">20170201</option>
									<option value="3">20170102</option>
									<option value="4">20170101</option>
								</select>
							</label>

							<button class="btn btn-primary btn-labeled fa fa-search" id="j-query" type="button">查询</button>
						</div>
					</div>
					<span id="record-span">
						<include file="profit-list" />
					</span>
				</div>
			</div>
			<input name="__RequestVerificationToken" type="hidden" value="CfDJ8Ktgxm2FAlNEsoI7VoMQlWk-r1WEVUMma9pxU878QzneW2KIrTfgUbuPj__QCtkNRRZvXW6vyGMINg6RucmHxen7pqyeFXfPOriSNInvCqqC13KtPZ_vKB1TImP03Q98KRUIkr3KghHY6GCGBNtfqlS9d9_JZXmL67XbkOB6FJORYTEoyRwdIbKmaIc06OW0qw">
		</form>
		<div tabindex="-1" class="modal fade" id="details-modal" role="dialog" aria-hidden="true" aria-labelledby="details-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title text-primary"><i class="fa fa-th-list fa-lg"></i>  详 情                 
						</h4>
					</div>
					<div id="betDetail">
					</div>
					<div class="modal-footer">
						<button class="btn btn-warning btn-labeled fa fa-mail-reply" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
	<script src="__JS__/dataTables.min.js"></script>
	<script src="__JS__/dataTables.bootstrap.min.js"></script>
	<script src="__JS__/dataTables.responsive.min.js"></script>
	<script src="__JS__/bootbox.min.js"></script>
	<style type="text/css">
		#bgColo{width:100%;padding: 10px 0;background-color: #e5f0f8;margin-bottom: 15px;}
		.userName{
			font-size: 14px;
			margin-left:10px;
			margin-bottom: 10px;
		}
		.userName button,.userName input{
			height: 28px;border: none;border: 1px solid #8e98a1;
			text-align: center;border-radius: 5px!important;cursor: pointer;
		}
		#j-query{
			background: linear-gradient(90deg, rgb(139, 186, 251), rgb(8, 75, 199));;
			border-radius: 12px;margin-left: 15px;
		}
		.btn-labeled:before {
			background-color: rgba(25, 153, 177, 0)!important;
		}
	</style>
	<script type="text/javascript">

		$(document).ready(function () {
			$("#j-query").on("click", function () {				
				$.ajax({
					type: "GET",
					url: '{:U("team/searchCoin")}',
					data: { liqType: $('#LotteryId').val(), utype: $('#TeamLevel').val(), username: $('#MemberName').val(), fromTime: $('#BeginDate').val(), toTime: $('#EndDate').val()},
					dataType: "html",
					global: false,
					success: function (result) {
						$('#record-span').html(result);
					}, error: function (err) {
						var t=err;				
					}
				});
		//$("#teambetrecord").submit();
	});

			$('#PageSize').on('change', function () {
				this.form.submit();
			});
			$('.paging_button').on('click', function () {
				var pageIndex = $(this).attr('title');
				$('#PageIndex').val(pageIndex);
				this.ownerDocument.forms[0].submit();
			});

		});

	</script>
</block>