<?php
	$stateName=array('已到帐', '正在办理', '已取消', '已支付', '失败');
?>
<div>
<table width="100%" class="table table-striped" id="my-datatable" cellspacing="0">
	<thead>
		<tr class="table_b_th">
			<th>申请时间</td>
			<th>付款方式</td>			
			<th>付款人</td>
			<th>入款银行</td>
			<th>入款金额</td>
			<th>入款后余额</td>
			<th>审核时间</td>
			<th>状态</td>			
		</tr>
	</thead>
	<tbody class="table_b_tr">
	<?php if($data){ 
	foreach($data as $var){ 
	?>
		<tr>
			<td><?=$var['username']?></td>
			<td><?=$var['rechargeId']?></td>
			<td><?=$var['amount']?></td>
			<td><?=$var['rechargeAmount']?></td>
			<td><?=$bankData[$var['mBankId']]['name']?></td>
			<td><?=$this->iff($var['state'], '充值成功', '<span style="color:#653809">正在处理</span>')?></td>
            <td><?=$this->iff($var['state'], date('m-d H:i:s', $var['actionTime']), '--')?></td>
			<td><?=$var['info']?></td>
		</tr>
	<?php } ?>
	<?php }else{ ?>
    <tr><td colspan="12" width="910px">当前没有查询到任何数据。</td></tr>
    <?php } ?>
	</tbody>
</table>
</div>
<div class="page">
    {$_page}
</div>
<style type="text/css">
	#container .table td{text-align: center;background-color: #fff;border:1px solid #2678e8!important;color: #666;}
	#container .table th{text-align: center;background-color: #2678e8;border-right: 1px solid #fff!important;
		border-top: 1px solid #2678e8!important;color: #fff;}
	#container .table th:first-child{ border-left: 1px solid #2678e8!important;}
	#container .table th:last-child{ border-right: 1px solid #2678e8!important;}
	/*	#container .table td{color: #2678e8;}*/
	#container .table{margin-top: 15px;}
</style>