<?php
	$modeName=array('2.00'=>'元', '0.20'=>'角', '0.02'=>'分');
?>
<table width="100%" class="table table-striped" id="my-datatable" cellspacing="0">
	<thead>
	<tr>
		<th class="min-tablet text-center">
			方案
		</th>
		<th class="min-tablet text-center">
			会员名
		</th>
		<th class="min-tablet text-center">
			彩种
		</th>
		<th class="min-tablet text-center">
			玩法
		</th>
		<th class="min-tablet text-center">
			期号
		</th>
		<th class="min-desktop text-center">
			投注内容
		</th>
		<th class="min-desktop text-center">
			时间
		</th>
		<th class="min-desktop text-center">
			投注金额
		</th>
		<th class="min-desktop text-center">
			中奖号码
		</th>
		<th class="min-desktop text-center">
			中奖金额
		</th>
		<th class="min-desktop text-center">
			状态
		</th>
	</tr>
	</thead>
	<tbody>
	<?php if($data){
	foreach($data as $var){ ?>
		<tr class="odd" role="row">
			<td class="text-center">
				<a action="<?=U('record/betInfo?id='.$var['id']) ?>" class="text-primary showDetails" href="#" data-toggle="modal" data-value="{$var['id']}" 
      data-target="#details-modal"><?=$var['wjorderId']?></a>
			</td>
            <td class="text-center">
			<?php
            if($var['username']){echo  $var['username'];}else{echo '--';};
            ?>
            </td>
			<td class="text-center"><?=$this->ifs($types[$var['type']]['shortName'],$types[$var['type']]['title'])?></td>
			<td class="text-center"><?=$playeds[$var['playedId']]['name']?></td>		
			<td class="text-center"><?=$var['actionNo']?></td>
			<td class="text-center"><a action="<?=U('record/betInfo?id='.$var['id']) ?>" class="text-primary showDetails" href="#" data-toggle="modal" data-value="{$var['id']}" 
      data-target="#details-modal"><?=$this->CsubStr($var['actionData'],0,0)?><span>查看详情</span></a></td>
			<td class="text-center"><?=date('m-d H:i:s', $var['actionTime'])?></td>			
			<td class="text-center"><?php if($var['hmEnable']) echo $var['mode']*$var['beiShu']*$var['actionNum']*($var['hmMyFen']+$var['hmBaoDi'])/($var['hmAllFen']);else echo $var['mode']*$var['beiShu']*$var['actionNum']*($var['fpEnable']+1);?>元</td>
			<td class="text-center"><?=$this->ifs($var['lotteryNo'], '--')?></td>
			<td class="text-center"><?=$this->iff($var['lotteryNo'], number_format($var['bonus'], 3), '0.000')?></td>
			<td class="text-center">
			<?php
				if($var['isDelete']==1){
					echo '<label class="graylab">已撤单</label>';
				}elseif(!$var['lotteryNo']){
					echo '<label class="graylab">未开奖</label>';
				}elseif($var['zjCount']){
					echo '<label class="redlab">已中奖</label>';
				}else{
					echo '<label class="graylab">未中奖</label>';
				}
			?>
			</td>
		</tr>
	<?php } }else{ ?>
    <tr><td colspan="12" width="910px">当前没有查询到任何数据。</td></tr>
    <?php } ?>
	</tbody>
</table>
<div class="page">
    {$_page}
</div>
<style type="text/css">
	#container .table td{text-align: center;background-color: #fff;border:1px solid #2678e8!important;color: #666;}
	#container .table th{text-align: center;background-color: #2678e8;border-right: 1px solid #fff!important;
		border-top: 1px solid #2678e8!important;color: #fff;}
	#container .table th:first-child{ border-left: 1px solid #2678e8!important;}
	#container .table th:last-child{ border-right: 1px solid #2678e8!important;}
	/*	#container .table td{color: #2678e8;}*/
	#container .table{margin-top: 15px;}
</style>
<script src="/Public/Home/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	// $('.showDetails').bind('click', showBet);

	//在全屏出现查看详情弹窗
	$('.showDetails').bind('click', showBe);
function showBe() {
	var href = $(this).attr('action');
	var v_id = $(this).attr('data-value');
	var me = this;
	$("#frame #betDetail",top.window.document).empty();
	
	$.ajax({
		type: "GET",
		url: href,
		data: { },
		dataType: "html",
		global: false,
		success: function (data) {
			$("#frame #betDetail",top.window.document).append(data);
			$("#frame #details-modal",top.window.document).css({'z-index':'99999','display':'block','background-color':'rgba(0,0,0,0.6)'});
	        $("#frame #details-modal",top.window.document).addClass('in');
	        $('#frame .close,#frame .btn-warning',top.window.document).click(function(){
            $('#frame #details-modal',top.window.document).hide();
            });
			$("#frame #cancelproject",top.window.document).click(function () {
				if (true) {
					$.ajax({
						type: "POST",
						url: "index.php?s=/home/game/deletecode",
						data: { id: v_id },
						dataType: "json",
						global: false,
						success: function (data) {
							try {
								if (data.status == 0) {
									$("#frame #details-modal",top.window.document).hide();
									// alert(data.info);
									$("#frame #a,#frame #q",top.window.document).css({'display':'block','z-index':'9999'});
                                    $("#frame #te",top.window.document).text(data.info);
                                    $("#frame #btn,#frame #de",top.window.document).click(function(){
                                       $("#frame #a,#frame #q",top.window.document).css('display','none');
                                    });

								} else {
									$(me).parent().siblings("td:last").html('<label class="graylab">已撤单</label>');
									$("#frame #details-modal",top.window.document).hide();
									// alert("撤单成功");
									$("#frame #a,#frame #q",top.window.document).css({'display':'block','z-index':'9999'});
                                    $("#frame #te",top.window.document).text("撤单成功");
                                    $("#frame #btn,#frame #de",top.window.document).click(function(){
                                       $("#frame #a,#frame #q",top.window.document).css('display','none');
                                    });
									//$("#betrecord").submit();
								}
							} catch (e) {
								$("#frame #details-modal",top.window.document).hide();
								// alert("撤单失败，请梢后重试");
								$("#frame #a,#frame #q",top.window.document).css({'display':'block','z-index':'9999'});
                                    $("#frame #te",top.window.document).text("撤单失败，请梢后重试");
                                    $("#frame #btn,#frame #de",top.window.document).click(function(){
                                       $("#frame #a,#frame #q",top.window.document).css('display','none');
                                    });

							}
						},
						error: null,
						cache: false
					})
				}
			})
		},
		error: null,
		cache: false
	})
}
	//解决分页问题
	$('.page a').bind('click', function(){
		if(this.tagName == 'A'){
			var parent = this.parentNode.parentNode;
			var value = $(parent).attr('target');
			if(value=='_blank')	
				return true;
			var url = $(this).attr('href');
			$('#record-span').load(url);
			return false;
		}
	});
});
</script>