<!--投注记录弹窗-->
<div class="bet-record-box" id="bet-record-box">
    <div class="record-top-mes">
        <div class="expression"></div>
        <div class="detail-list">
            <table class="table1" width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="200">订单号：B15185311S9I66R5</td>
                    <td width="150">投注金额：<i>40.000</i></td>
                    <td></td>
                </tr>
                <tr>
                    <td>开奖号码：03,01,10,06,07</td>
                    <td>中奖金额：<i>5.000</i></td>
                    <td>盈亏金额：<i>-1.986</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detail-list-content">
        <table class="table2" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td class="tit" width="90">彩票名称:</td>
                <td>重庆时时彩</td>
                <td class="tit">玩法名称:</td>
                <td>龙虎斗龙虎斗</td>
            </tr>
            <tr>
                <td class="tit">投注期号:</td>
                <td>20161208078</td>
                <td class="tit">下单时间:</td>
                <td>2016-12-08 18:52:30</td>
            </tr>
            <tr>
                <td class="tit">投注数量:</td>
                <td>1</td>
                <td class="tit">返点金额:</td>
                <td>0.014</td>
            </tr>
            <tr>
                <td class="tit">投注倍数:</td>
                <td>1</td>
                <td class="tit">中奖注数:</td>
                <td>0.000</td>
            </tr>
            <tr>
                <td class="tit">元角模式:</td>
                <td>元</td>
                <td class="tit">单注奖金:</td>
                <td></td>
            </tr>
            <tr>
                <td class="tit">投注号码:</td>
                <td colspan="3">
                    <div class="bet-num-show">2-3</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
