<!--报表中心-->
<div class="member-set" id="load-center" ng-controller="ReportCtrl">
    <div class="pop-menu">
        <div class="recharge-nav">
            <a class="report-nav actived1"  onclick="change(1)">手机客户端</a>
            <a onclick="change(2)">PC客户端</a>
        </div>
         <script type="text/javascript">
                        $(".recharge-nav a").click(function(){
                            $(this).siblings().removeClass('actived1');
                            $(this).addClass('actived1');

                        })
                    </script>
    </div>
    <div class="pop-area">
        <!--手机客户端-->
        <div class="personal-box personal-box1" id="lot-report">
            <div class="record-top-area">
                <iframe id="pageframe1" name="pageframe" src="/index.php?s=/home/team/load.html" style="width: 101%; height: 639px;background-color: #313131" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
        <!--PC客户端-->
        <div class="personal-box personal-box2" id="personal-report" style="display: none;">
            <div class="record-top-area">
                <div class="load1" style="display: none;position: absolute;top:0;left:0;background: rgba(0,0,0,0.6);width:100%;height:637px">
                    <img src="Public/Mobile/images/game/wait.gif" style="position: absolute;top:50%;left:50%;margin-top: -50px;margin-left:-50px;">
                </div>
                <iframe id="pageframe2" name="pageframe" src="" style="width: 101%; height: 639px;background: url('/Public/Home/images/pc.jpg');background-repeat: no-repeat;background-size: 100%;" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>

    </div>
    <script>
        function change(n){
            var pageframe = $('#pageframe'+n);
            if(pageframe.attr('src') == ''){
                switch (n){
                    case 1:pageframe.attr('src','/index.php?s=/home/team/load.html');

                        pageframe.load(function() { 

                        }); 
                    break;
                    case 2:pageframe.attr('src','/index.php?s=/home/team/load2.html');
                        $('.load1').show();
                        pageframe.load(function() { 
                        $('.load1').hide();
                        }); 
                    break;
                }
            }
            $('.personal-box'+n).show();
            $('.personal-box'+n).siblings().hide();
        }
        
    </script>
</div>
