<div class="footer">
    <div class="wrap">
        <div class="copyright-left">
            <a id="serve" style="cursor: pointer">服务条款</a>
            <i >|</i>
            <a id="yszc" style="cursor: pointer">隐私政策</a>
            <i>|</i>
            <a id="zrbc" style="cursor: pointer">责任博彩</a>
            <i>|</i>
            <a id="aqx" style="cursor: pointer">安全性</a>
            <i>|</i>
            <a id="mzsm" style="cursor: pointer">免责声明</a>
            <i>|</i>
        </div>
        <!-- <div class="copyright-right">
            <div class="browser-link">
                <a class="nominate-ie" href="http://rj.baidu.com/soft/detail/14917.html?ald" target="_blank"></a>
                <a class="nominate-firefox" href="http://rj.baidu.com/soft/detail/14917.html?ald" target="_blank"></a>
                <a class="nominate-chrome" href="http://rj.baidu.com/soft/detail/14917.html?ald" target="_blank"></a>
                <a class="nominate-safari" href="http://rj.baidu.com/soft/detail/14917.html?ald" target="_blank"></a>
            </div>
            <div class="copyright-text">
                <h5>版权所有©1999年至2016年Yanbain.All权利</h5>

                <p>负责任的博彩<br>我们积极推行负责任博彩，并极力拒绝未成年玩家使用我们的<br>软体进行网上娱乐。同时，我们更透过专业人员及各种有效方<br>法以防止问题博彩的发生：点选左方手形图示寻求帮助。</p>
            </div>
        </div> -->
        <div>
            <img src="/Public/Home/images/public/bg-1.png" style="display: block;margin:0 auto;">
        </div>
   
    </div>
    <div style="background-color: #313131">
             <p style="text-align: center;font-size: 13px;padding: 10px 0;">久信彩由菲利宾马尼拉（GICC）颁发合法执照并受其监督<br>Copyright    2013-2017 http://www.jiuxinyule8.com All Rights Reserved</p>
    </div>
</div>