<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$content?'编辑':'新增'}重要通知</h2>
    </div>
    <form action="<?=$_SERVER['REQUEST_URI']?>" method="post" class="form-horizontal">
		
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$content.title}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">内容<span class="check-tips"></span></label>
            <div class="controls">
                <textarea class="input-large" name="content" style="width:550px;" rows="5">{$content.content}</textarea>
            </div>
        </div>
		<div class="form-item">
            <label class="item-label">日期<span class="check-tips"></span></label>
            <div class="controls">
                <input style="width:200px" autocomplete="off" name="fromTime" id="first" class="search-input" value="<?=$this->iff($content['addTime'],date('Y-m-d H:i', $content['addTime']),date('Y-m-d H:i',time())) ?>" placeholder="开始时间" type="text">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">是否显示<span class="check-tips"></span></label>
            <div class="controls">
				<label><input  autocomplete="off" name="enable" value="1" <php>if($content){if($content['enable']==1) echo 'checked';} else {echo 'checked';}</php> type="radio">显示</label>		
				<label><input autocomplete="off" name="enable" value="0" <php>if($content){if($content['enable']==0) echo 'checked';}</php> type="radio">隐藏</label>						
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$content.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('importantNotice/index')}"]').closest('li').addClass('current');
		$(function(){
		$('#first').datetimepicker({
			format: 'yyyy-mm-dd hh:ii',
			language:"zh-CN",
			minView:2,
			autoclose:true
		});
		//showTab();
	});
    </script>
</block>
